.react-library-themed-components-shared-scroll {
	background-color: var(--background-colour, transparent);
	box-sizing: border-box;
	height: var(--height);
	max-height: var(--max-height);
	max-width: var(--max-width);
	min-height: var(--min-height);
	min-width: var(--min-width);
	overflow-x: var(--overflow-x);
	overflow-y: var(--overflow-y);
	width: var(--width);
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar-track {
	background-color: transparent;
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar-track-piece {
	background-color: var(--scrollbar-background-colour, transparent);
	border-radius: 5px;
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-colour);
	border-radius: 5px;
	cursor: grab;
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar-button {
	height: 0px;
	width: 0px;
}

.react-library-themed-components-shared-scroll::-webkit-scrollbar-corner {
	background-color: transparent;
}
